/* Fonts */
@font-face {
    font-family: 'robotoblack';
    src: url('assets/fonts2/roboto-black-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* -webkit-text-stroke-width: 0.2px; */
}

@font-face {
    font-family: 'robotobold';
    src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
}

@font-face {
    font-family: 'robotomedium';
    src: url('assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
}

@font-face {
    font-family: 'robotolight';
    src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
}

@font-face {
    font-family: 'robotothin';
    src: url('assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: auto;
}

/* Text Styles */
body {
    /* Text Properties */
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    /* Text Properties */
    font-family: robotoblack;
    font-size: 60px;
    text-align: center;
}

h2 {
    /* Text Properties */
    font-family: robotobold;
    font-size: 26px;
    padding: 5px;
    text-align: center;
}

h3 {
    /* Text Properties */
    font-family: robotobold;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

p.a {
    box-sizing: border-box;
    /* Text Properties */
    font-family: robotoregular;
    font-size: 20px;
    line-height: 1.5;
    /* Text Box Properties */
    /* background-color: #cecece; */
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    padding-block: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 1250px) {
    p.a {
      float: none;
      width: 100%;
    }
}

p.d {
    box-sizing: border-box;
    /* Text Properties */
    font-family: robotoregular;
    font-size: 20px;
    line-height: 1.5;
    /* Text Box Properties */
    /* background-color: #cecece; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 625px;
    padding-block: 10px;
    padding-left: 10px;
    border-width: 3px;
    border-color: #262626;
    border-style:solid;
}

@media screen and (max-width: 1250px) {
    p.d {
      float: none;
      width: 100%;
    }
}

p.b {
    /* Text Properties */
    font-family: robotoregular;
    line-height: 1.5;
    /* Text Box Properties */
    background-color: #BCFFB9;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    padding-block: 10px;
    padding-left: 10px;
}

p.c {
    /* Text Properties */
    font-family: robotoregular;
    font-size: 20px;
    line-height: 1.5;
    /* Text Box Properties */
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    max-width: 100%;
    padding-block: 10px;
    padding-left: 10px;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #FFFFFF;
    background-color: #262626;
}  

/* Title Image */
div.title {
    padding: 10px;
    position: relative;
    text-align: center;
}

.responsive {
    width: 50%;
    height: auto;
}

.centered {
    font-family: robotoblack;
    font-size: 80px;
    color: #FFFFFF;
    letter-spacing: 2px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Picture Gallery - Gallery Div */
/* div.gallery {
    margin: 5px;
    border: 1px solid #FFFFFF;
    float: left;
    width: 360px;
    background-color: #FFFFFF;
}
  
div.gallery:hover {
    border: 1px solid #1C1427;
}
  
div.gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
} */

/* div.desc {
    text-align: center;
}  */

/* Grid - Portfolio */
.grid{
    text-align: center;
}

.row{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: .5px;
}

.row2{
    display: inline-block;
    width: 600px;
    height: 600px;
    margin: .5px;
    /* padding: 0;
    display: block; */
    max-height: 100%;
    max-width: 100%;
}

.row2B{
    display: inline-block;
    width: 30%;
    height: auto;
    margin: .5px;
    /* padding: 0;
    display: block; */
    /* max-height: 100%;
    max-width: 100%; */
}

.desc {
    text-align: center;
} 


/* Photos Grid */
.gridVideo{
    text-align: center;
}

.rowVideo{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 10px;
}

.gridTwo{
    text-align: center;
}

.rowTwo{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin: 5px;
}

/* .button{
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button1 {
    background-color: #FFFFFF;
}

.button1:hover {
    background-color: #000000;
    color: #FFFFFF;
} */


.rowThree{
    display: inline-block;
    width: 15%;
    height: 15%;
    margin: 5px;
}

/* .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  } */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  
.fa-youtube {
    background: #bb0000;
    color: white;
}

.button {
  background-color:#262626;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  /* letter-spacing: 1.25px; */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  /* margin-left: 10px; */
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #262626;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#262626;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#262626; }